
* {
    box-sizing: border-box;
}

.webfont {
    color: #b21466;
    font-family: 'Indie Flower', cursive;
    font-size: 0.8vw;
}

/* ヘッダー */
.header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
    padding: 0 2% 1% 1%;
    width: 100%;
}

.heder-left {
    width: 50vw
}

.header__logo {
    width: 10vw;
}

.header__logo img {
    height: auto;
    max-width: 100%;
}

.header-right {
    width: 50vw;
}

.nav__list {
    display: flex;
    margin-left: 31%;
}

.nav__item {
    color: #777777;
    font-size: 1.2vw;
    font-weight: 600;
    margin-left: 4%;
}

/* ファーストビュー */
.fv {
    position: relative;
    width: 100%;
}

.fv__img {
    display: block;
    margin: 0 0 0 auto;
    width: 60%;
}

.fv__ttl {
    color: #b21466;
    font-family: 'Indie Flower', cursive;
    font-size: 4.5vw;
    left: 20.7%;
    line-height: 1.6em;
    position: absolute;
    top: 15%;
}

.fv__ttl--color,span {
    color: #06a1b3;
}

.fv__txt {
    left: 21%;
    position: absolute;
    top: 58%;
}

.fv__txt-top {
    color: #b21466;
    font-family: 'Kosugi', sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 4%;
}

.fv__txt-bottom {
    color: #777777;
    font-size: 1vw;
    line-height: 1.6em;
}

/* ニュース */
.news {
    display: flex;
    padding: 7% 0;
    width: 100%;
}

.news__inner {
    border-bottom: solid 2px #d4d4d4;
    width: 50%;
    padding-bottom: 2%;
    margin: 0 auto;
}

.news-webfont {
    margin-bottom: 1%;
}

.news__ttl {
    border-bottom: solid 2px #d4d4d4;
    color: #6f6f6f;
    font-size: 1.5vw;
    padding-bottom: 4%;
    margin-bottom: 2%;
}

.news__column {
    align-items: center;
    border-bottom: solid 1px #e5e5e5;
    display: flex;
    padding: 2% 0;
}

.news__txt {
    color: #808080;
    font-size: 1.1vw;
    margin-right: 4%;
}

.news__txt--box {
    background: #b31667;
    border-radius: 60px 60px 60px 60px;
    color: #f2e1e7;
    font-size: 1vw;
    padding: 0.5% 1.5%;
    margin-right: 4%;
}


/* アバウト */
.about {
    background: #f5f5f5;
    padding: 2.5% 0;
}

.about-top {
    display: flex;
    justify-content: center;
}

.about__ttl {
    color: #6e6e6e;
    display: flex;
    font-size: 1.6vw;
    justify-content: center;
    margin: 1% 0 2.5%;
}

.about-bottom {
    display: flex;
    justify-content: space-around;
    margin: 0 7%;
}

.about__txt {
    color: #767676;
    font-size: 1vw;
    line-height: 1.6em;
    margin: 0 0 10%;
}

.about__img {
    width: 30vw;
}


/* サービス */
.service-webfont {
    margin: 6% 0 1% 12%;
}

.service__ttl {
    color: #6f6f6f;
    font-size: 1.5vw;
    margin: 0  0 2.5% 12%;
}

.service__box-content {
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
    width: 100%;
}

.service__grid {
    background-color: #06a1b3;
    display: grid;
    grid-template-columns: 38vw 38vw;
    grid-template-rows: 1fr 1fr;
}

.service__left-box {
    background-color: #b21466;
    grid-column: 1/2;
    grid-row: 1/3;
}

.service__left-box__img {
    display: block;
    margin: 10% auto 0;
    width: 12vw;
}

.service__left-box__ttl {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.2vw;
    margin: 4% 0 4%;
}

.service__left-box__txt {
    color: #fff;
    font-size: 1vw;
    line-height: 2em;
    margin: 0 0 16% 13%;
}

.service__right-top-box {
    align-items: center;
    background-color: #b35b8b;
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0 4% 0 4%;
}

.service__right-top-box__img {
    display: block;
    width: 12vw;
}

.service__right-top-box__content {
    margin: 0 0 0 4%;
}

.service__right-top-box__ttl {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2vw;
    margin: 0 0 8% 0;
}

.service__right-top-box__txt {
    color: #fff;
    font-size: 1vw;
    line-height: 2em;
}

.service__right-bottom-box {
    align-items: center;
    background-color: #b2889e;
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0 4% 0 4%;
}

.service___right-bottom-box__img {
    display: block;
    width: 12vw;
}

.service__right-bottom-box__content {
    margin: 0 0 0 4%;
}

.service__right-bottom-box__ttl {
    color: #fff;
    display: inline-block;
    font-size: 1.2vw;
    font-weight: bold;
    margin: 0 0 8% 0;
}

.service__right-bottom-box__txt {
    color: #fff;
    font-size: 1vw;
    line-height: 2em;
}


/* ブログ */
.blog {
    background-color: #f5f5f5;
    padding-bottom: 3%;
}

.blog-webfont {
    padding-top: 3%;
    margin: 6% 0 1% 12%;
}

.blog__ttl {
    color: #6f6f6f;
    font-size: 1.5vw;
    margin: 0 0 2.5% 12%;
}

.blog__card-content {
    display: flex;
    justify-content: space-between;
    padding: 0 12%;
}

.blog__card-left {
    width: 22vw;
}

.blog__card-left-content {
    background-color: #fff;
    border-radius:10px 10px 0 0;
    position: relative;
}

.blog__card-left__img {
    border-radius: 10px 10px 0 0;
    width: 22vw;
}

.blog__card-left__top-tag {
    background-color: #b31667;
    border-radius: 10px 0 0 0;
    color: #fff;
    font-size: 1.5vw;
    left: 0%;
    padding: 3% 6%;
    position: absolute;
    top: 0%;
}

.blog__card-left-tag-content {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    width: 22vw;
}

.blog__card-left-txt {
    color: #767676;
    font-size: 1.2vw;
    font-weight: bold;
    line-height: 1.6em;
    padding: 5% 0 6% 9%;
}

.blog__card-left-tag-left {
    color: #7c7c7c;
    display: inline-block;
    font-size: 1.1vw;
    margin: 0 0 10% 9%;
}

.blog__card-left-tag-right {
    color: #7c7c7c;
    display: inline-block;
    font-size: 1.1vw;
    margin: 0 0 10% 15%;
}


.blog__card-center {
    width: 22vw;
}

.blog__card-center-content {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.blog__card-center__img {
    border-radius: 10px 10px 0 0;
    width: 22vw;
}

.blog__card-center__top-tag {
    background-color: #b31667;
    color: #fff;
    border-radius: 10px 0 0 0;
    font-size: 1.5vw;
    left: 0%;
    padding: 3% 6%;
    position: absolute;
    top: 0%;
}

.blog__card-center-tag-content {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    width: 22vw;
}

.blog__card-center-txt {
    color: #767676;
    font-size: 1.2vw;
    font-weight: bold;
    line-height: 1.6em;
    padding: 5% 0 6% 9%;
}

.blog__card-center-tag-left {
    color: #7c7c7c;
    display: inline-block;
    font-size: 1.1vw;
    margin: 0 0 10% 9%;
}

.blog__card-center-tag-right {
    color: #7c7c7c;
    display: inline-block;
    font-size: 1.1vw;
    margin: 0 0 10% 15%;
}


.blog__card-right {
    width: 22vw;
}

.blog__card-right-content {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.blog__card-right__img {
    border-radius: 10px 10px 0 0;
    width: 22vw;
}

.blog__card-right__top-tag {
    background-color: #b31667;
    color: #fff;
    border-radius: 10px 0 0 0;
    font-size: 1.5vw;
    left: 0%;
    padding: 3% 6%;
    position: absolute;
    top: 0%;
}

.blog__card-right-tag-content {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    width: 22vw;
}

.blog__card-right-txt {
    color: #767676;
    font-size: 1.2vw;
    font-weight: bold;
    line-height: 1.6em;
    padding: 5% 0 6% 9%;
}

.blog__card-right-tag-left {
    color: #7c7c7c;
    display: inline-block;
    font-size: 1.1vw;
    margin: 0 0 10% 9%;
}

.blog__card-right-tag-right {
    color: #7c7c7c;
    display: inline-block;
    font-size: 1.1vw;
    margin: 0 0 10% 15%;
}

.blog__btn-center {
    background-color: #fff;
    border: solid 2px #b41766;
    border-radius: 40px;
    color: #b33869;
    display: block;
    font-size: 1.2vw;
    font-weight: bold;
    margin: 3% auto 0;
    padding: 1.5% 2%;
    text-align: center;
    text-decoration: none;
    width: 15vw;
}



/* 会社概要 */
.company-webfont {
    margin: 6% 0 1% 24.5%;
}

.company__ttl {
    color: #727272;
    margin: 0 0 0 24.5%;
}

.company--flex {
    display: flex;
        justify-content: center;
        margin: 2% 0 5% 0;
}

.company__table {
    width: 50vw;
}

.company__th {
    border:solid 1px #d3d3d3;
    background-color: #f5f5f5;
    color: #717171;
    font-size: 1.1vw;
    padding: 2.5% 0 2.5% 2%;
    text-align: left;
    width: 14vw;
}

.company__td {
    border: solid 1px #d3d3d3;
    background-color: #fff;
    color: #717171;
    font-size: 1.1vw;
    padding: 0 0 0 2%;
}

/* コンテンツ */
.content {
    width: 100%;
}

.content-top {
    display: flex;
    width: 100%;
}

.recruit {
    position: relative;
    width: 50%;
}

.recruit__img {
    width: 100%;
}

.recruit__ttl {
    color: #fff;
    font-size: 2.2vw;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

.interview {
    position: relative;
    width: 50%;
}

.interview__img {
    width: 100%;
}

.interview__ttl {
    color: #fff;
    font-size: 2.2vw;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.inquiry-inner {
    display: flex;
    justify-content: center;
}

.inquiry-ttl {
    color: #737373;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 5% 0 1.8% 0;
}

.line {
    position: relative;
}

.line--position::before{
    border-left: solid 3px #b61968;
    content: "";
    color: #ff0000;
    left: 50%;
    padding-bottom: 1.2%;
    padding-top: 1.6%;
    position: absolute;
    top: 0%;
}

.inquiry-btn {
    display: flex;
    justify-content: center;
    margin: 4.5% 0 6% 0;
    position: relative;
}

.inquiry-btn__txt {
    background: linear-gradient(90deg,#fe1e90,#b41768);
    border-radius: 50px;
    box-shadow: 0 4px 0 #840151;
    color: #fff;
    font-size: 1.2vw;
    padding: 2.2% 7%;
    text-decoration: none;
}

.inquiry-btn-img {
    left: 42%;
    position: absolute;
    top: 30%;
    width: 2.2vw;
}

/* フッター */
.footer {
    width: 100%;
}

.copyright {
    background-color: #f5f5f5;
    color: #7c7c7c;
    display: block;
    font-size: 1vw;
    padding: 2% 0;
    text-align: center;
}