body {

}

* {
    box-sizing: border-box;
}

.test {
    background-color: aquamarine;
    height: 100px;
    width: 1000px;
}

.test-bottom {
    background-color: #777777;
    height: 100px;
    width: 1500px;
}

.header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
    padding: 0 2% 1% 1%;
    width: 100vw;
}

.heder-left {
    width: 50vw;
}

.header__logo {
    width: 10vw;
}

.header__logo img {
    height: auto;
    max-width: 100%;
}

.header-right {
    width: 50vw;
}

.nav__list {
    display: flex;
    margin-left: 31%;
}

.nav__item {
    color: #777777;
    font-size: 1.2vw;
    font-weight: 600;
    margin-left: 4%;
}

.fv {
    position: relative;
    width: 100vw;
}

.fv__img {
    display: block;
    margin: 0 0 0 auto;
    width: 60vw;
}

.fv__ttl {
    color: #b21466;
    font-family: 'Indie Flower', cursive;
    font-size: 4.5vw;
    left: 20.7%;
    line-height: 1.6em;
    position: absolute;
    top: 15%;
}

.fv__ttl--color,span {
    color: #06a1b3;
}

.fv__txt {
    left: 21%;
    position: absolute;
    top: 58%;
}

.fv__txt-top {
    color: #b21466;
    font-family: 'Kosugi', sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 4%;
}

.fv__txt-bottom {
    color: #777777;
    font-size: 1vw;
    line-height: 1.6em;
}

.webfont {
    color: #b21466;
    font-family: 'Indie Flower', cursive;
    font-size: 0.8vw;
}

.news {
    display: flex;
    padding: 7% 0;
    width: 100vw;
}

.news__inner {
    border-bottom: solid 2px #d4d4d4;
    width: 50%;
    padding-bottom: 2%;
    margin: 0 auto;
}

.news-webfont {
    margin-bottom: 1%;
}

.news__ttl {
    border-bottom: solid 2px #d4d4d4;
    color: #6f6f6f;
    font-size: 1.5vw;
    padding-bottom: 4%;
    margin-bottom: 2%;
}

.news__column {
    align-items: center;
    border-bottom: solid 1px #e5e5e5;
    display: flex;
    padding: 2% 0;
}

.news__txt {
    color: #808080;
    font-size: 1.1vw;
    margin-right: 4%;
}

.news__txt--box {
    background: #b31667;
    border-radius: 60px 60px 60px 60px;
    color: #f2e1e7;
    font-size: 1vw;
    padding: 0.5% 1.5%;
    margin-right: 4%;
}

.about {
    background: #f5f5f5;
    padding: 2.5% 0;
}

.about-top {
    display: flex;
    justify-content: center;
}

.about__ttl {
    color: #6e6e6e;
    display: flex;
    font-size: 1.6vw;
    justify-content: center;
    margin: 1% 0 2.5%;
}

.about-bottom {
    display: flex;
    justify-content: space-around;
    margin: 0 7%;
}

.about__txt {
    color: #767676;
    font-size: 1vw;
    line-height: 1.6em;
    margin: 0 0 10%;
}

.about__img {
    width: 30vw;
}

.service__box-left {
    background-color: #b31667;
    width: 30vw;
}

.service__ttl {
    color: #6f6f6f;
    font-size: 1.5vw;
}

.service__box-left__img {
    
}


.box__left-img {
    width: 15vw;
    background-color: #06a1b3
}

.service__box-left-ttl {
    color: #fff;
    text-align: center;
}